.title{
  margin: 10px;
}

.product_name{
  font-size:14px;
  font-weight: bold;
}

.commande {
  padding: 10px;
  border: 1px solid #f5efef;
  float: left;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 2px 3px 0px #e4d8d8;
  position:relative;
  overflow:hidden;
}

.product{
  margin: 10px;
  border-bottom: 1px dotted #ccc;
}


.image{
  margin: 10px;

  > img {
    max-width: 50px;
    max-height: 50px;
    font-size: 10px;
  }
}
