<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <div *ngIf="!panier">Your card is empty</div>
        <tr *ngFor="let a of infoArticles">
          <td class="col-sm-8 col-md-6">
            <div class="media">
              <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{a.article.img}}"
                                                            style="width: 72px; height: 72px;"> </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">{{a.article.denomination}}</a></h4>
                <h5 class="media-heading"> by <a href="#">{{a.magasin.denomination}}</a></h5>
                <!--<span>Status: </span><span class="text-success"><strong>In Stock</strong></span>-->
              </div>
            </div>
          </td>
          <td class="col-sm-1 col-md-1" style="text-align: center">
            <input type="email" class="form-control" id="exampleInputEmail1" value={{a.article.nb}}>
          </td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{a.article.prix}}€</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{a.article.prix*a.article.nb}}€</strong></td>
          <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" (click)="remove(a.article,a.magasin)">
              <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
          </td>
        </tr>
        <tr>
          <td>  </td>
          <td colspan="3"><h5>Total des articles</h5></td>
          <td class="text-right"><h5><strong>{{panier.prix}}€</strong></h5></td>
        </tr>
        <tr>
          <td>  </td>
          <td colspan="3"><h5>Prix de livraison</h5></td>
          <td class="text-right"><h5><strong>5€</strong></h5></td>
        </tr>
        <tr>
          <td>  </td>
          <td><h3>Total</h3></td>
          <td>  </td>
          <td>  </td>
          <td class="text-right"><h3><strong>{{panier.prix+5}}€</strong></h3></td>
        </tr>
        <tr>
          <td colspan="1"  align= "right"><h5>Date de livraison</h5></td>
          <td colspan="4">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="YYYY-MM-DD" width="50%"
                         name="dp" [(ngModel)]="dateLivraison" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="changeDate(dateLivraison)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHPSURBVGhD7dqxK0VRHAfwq+xSBgwGozIxGm1mCYuSwUQZZaBkV8j/YZFRMlCKRImSQTIQRQbx/d786rzfOeeW46hzX+dXn+Gc333n9K1377v3vVf8osbhAb5+XMIgxKpleAGu/QkH0A1RqxVeQUKIfYhRfaDXpnWIWm3AhW/LUVH0gDn+a40A19spR/Y4WtUqyCQ8Axfw0UFi00GqHEEXWPUIrheYUgpCq2CV60AttSCbYJXrQO0O2qHfmItpF7j+mDFXJThIanKQ1DR3kOsaWoHmrd4a6gCrXO/B1OWrVmpykNQEB/mAY+UU2Hsz5sQ5sMfHZN3jM7+vdwWyZ5XgIK4nQrmlZyBdcpfserYfAl/v32/jc5By1Fg5iCE4yD0MKLIpT1Ddkye9E2NOTIOvNweyZ5XgIKkJDpIvv+WosfLJbshBmiYIfx8ZViaAvRtjTswAe2fGnJgHX28RZM8qwUFSExzkHfYUvjXY42VU9w6BvSdjTvDbdF+PH5KyZ5V8juQg5aixchBDcBD+qjWqzAJ7DKl7C8DehTEnlsDXWwPZs0pwkNTkIKnJQVLjDMI/srgOTtkGWCX3RXUyBVZ1Av9JsF0DW8AQLZArwSqKb91iSyj4Yk09AAAAAElFTkSuQmCC" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
            </form>  
          </td>
        </tr>
        <tr>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <button type="button" class="btn btn-success">
            Payer <span class="glyphicon glyphicon-play"></span>
          </button>
        </tr>
        </tbody>
      </table>
      <!--<p>Date de livraison</p>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHPSURBVGhD7dqxK0VRHAfwq+xSBgwGozIxGm1mCYuSwUQZZaBkV8j/YZFRMlCKRImSQTIQRQbx/d786rzfOeeW46hzX+dXn+Gc333n9K1377v3vVf8osbhAb5+XMIgxKpleAGu/QkH0A1RqxVeQUKIfYhRfaDXpnWIWm3AhW/LUVH0gDn+a40A19spR/Y4WtUqyCQ8Axfw0UFi00GqHEEXWPUIrheYUgpCq2CV60AttSCbYJXrQO0O2qHfmItpF7j+mDFXJThIanKQ1DR3kOsaWoHmrd4a6gCrXO/B1OWrVmpykNQEB/mAY+UU2Hsz5sQ5sMfHZN3jM7+vdwWyZ5XgIK4nQrmlZyBdcpfserYfAl/v32/jc5By1Fg5iCE4yD0MKLIpT1Ddkye9E2NOTIOvNweyZ5XgIKkJDpIvv+WosfLJbshBmiYIfx8ZViaAvRtjTswAe2fGnJgHX28RZM8qwUFSExzkHfYUvjXY42VU9w6BvSdjTvDbdF+PH5KyZ5V8juQg5aixchBDcBD+qjWqzAJ7DKl7C8DehTEnlsDXWwPZs0pwkNTkIKnJQVLjDMI/srgOTtkGWCX3RXUyBVZ1Av9JsF0DW8AQLZArwSqKb91iSyj4Yk09AAAAAElFTkSuQmCC" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-success">
        Payer <span class="glyphicon glyphicon-play"></span>
      </button>
    </div>-->
  </div>
</div>
