<div class="container">
  <div class="row">
    <h1 class="entry-title"><span>Mes produits</span></h1>
    <div class="search">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               [(ngModel)]="articleKeyWords" name="kwa">
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let a of articles | filter: articleKeyWords">
      <div class="my-list" >
        <img src="{{a.img}}"/>
        <h3>{{a.denomination}}</h3>
        <span>Prix: {{a.prix/100}}</span>
        <div class="detail">
          <small>{{a.description}}</small>
          <!--<img src="http://hpservicecenterschennai.in/images/hp_laptop_service_centers_in_guindy.png" alt="dsadas" />-->
          <div>
            <button class="btn btn-danger" (click)="remove(a)">Remove</button>
            <!--<button class="btn btn-success" (click)="remove(a)">Modifier</button>-->
            <a class="btn btn-success" [routerLink]="['/modification', a.id]">Modifier</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
