<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <title>Document</title>
</head>
<body>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] = "keyWords" name = "kw">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search('asd')">Search</button>
    </form>
  </div>
</nav>

<div class="wrap">
  <!--<div class="menu">
    <div class="mini-menu">
      <ul>
        <li class="sub">
          <a href="#">WOMAN</a>
          <ul>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Blazers</a></li>
            <li><a href="#">Suits</a></li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Jenas</a></li>
            <li><a href="#">Shirts</a></li>
          </ul>
        </li>
        <li class="sub">
          <a href="#">MAN</a>
          <ul>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Blazers</a></li>
            <li><a href="#">Suits</a></li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Jenas</a></li>
            <li><a href="#">Shirts</a></li>
          </ul>
        </li>
        <li class="sub">
          <a href="#">KIDS</a>
          <ul>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Blazers</a></li>
            <li><a href="#">Suits</a></li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Jenas</a></li>
            <li><a href="#">Shirts</a></li>
          </ul>
        </li>
        <li class="sub">
          <a href="#">Shoes&Bags</a>
          <ul>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Blazers</a></li>
            <li><a href="#">Suits</a></li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Jenas</a></li>
            <li><a href="#">Shirts</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu-colors menu-item">
      <div class="header-item" >Colors</div>
      <ul class="color-row1">
        <li class="color-circle" style="background:#4286f4"></li>
        <li class="color-circle" style="background:#2acc4b"></li>
        <li class="color-circle" style="background:#343534"></li>
        <li class="color-circle" style="background:#5f605f"></li>
        <li class="color-circle" style="background:#929392"></li>
      </ul>
      <ul class="color-row2">
        <li class="color-circle" style="background:#9e8045"></li>
        <li class="color-circle" style="background:#d3d3d3"></li>
        <li class="color-circle" style="background:#6b6666"></li>
        <li class="color-circle" style="background:#999797"></li>
        <li class="color-circle" style="background:#923476"></li>
      </ul>
    </div>
    <div class="menu-size menu-item">
      <div class="header-item" >Size</div>
      <ul class="color-row1">
        <li class="color-circle size-circle" ><p class="sizedouble">XS</p></li>
        <li class="color-circle size-circle" style="background-color:#343534" ><p style="color:#999" class="size">S</p></li>
        <li class="color-circle size-circle" ><p class="size">M</p></li>
        <li class="color-circle size-circle" ><p class="size">L</p></li>
        <li class="color-circle size-circle" ><p class="sizedouble">XL</p></li>
      </ul>
    </div>
    <div class="menu-price menu-item">
      <div class="header-item" >Price</div>
      <p>
        &lt;!&ndash;<label for="amount">Price range:</label>&ndash;&gt;
        <input type="text" readonly id="amount"  style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
    </div>

  </div>-->


  <div class="items">
      <div data-price="290" class="item" *ngFor="let a of articles">
        <p>Here is img</p>
        <div class="info">
          <h3>{{a.name}}</h3>
          <p class="descroption">items left: {{a.nb}}</p>
          <h5>{{a.prix/100}} euros</h5>
        </div>
        <div class="section" style="padding-bottom:20px;">
          <h6 class="title-attr"><small>CANTIDAD</small></h6>
          <div>
            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
            <input value="1" />
            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--</body>-->

<!--<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>-->




<!--
&lt;!&ndash;Menu&ndash;&gt;
<script type="text/javascript">
  $(document).ready(function () {
    $(".sub > a").click(function() {
      var ul = $(this).next(),
        clone = ul.clone().css({"height":"auto"}).appendTo(".mini-menu"),
        height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";
      clone.remove();
      ul.animate({"height":height});
      return false;
    });
    $('.mini-menu > ul > li > a').click(function(){
      $('.sub a').removeClass('active');
      $(this).addClass('active');
    }),
      $('.sub ul li a').click(function(){
        $('.sub ul li a').removeClass('active');
        $(this).addClass('active');
      });
  });
</script>
<script src="script.js" ></script>
&lt;!&ndash;</html>&ndash;&gt;
<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 1000,
      values: [ 190, 728 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        var mi = ui.values[0];
        var mx = ui.values[1];
        filterSystem(mi, mx);
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );


  function filterSystem(minPrice, maxPrice) {
    $(".items div.item").hide().filter(function () {
      var price = parseInt($(this).data("price"), 10);
      return price >= minPrice && price <= maxPrice;
    }).show();
  }

  //   $( "#slider-range" ).on( "slidechange", function( event, ui ) {
  //     console.log(ui.value);
  // } );
</script>-->
