<!--<section >
  <h1 class="entry-title"><span>Modification d'article</span></h1>
  <hr>-->
  <div *ngIf="!article">loading</div>
  <div *ngIf="article">
    <form (ngSubmit)="modifier()" class="form-horizontal" method="post" name="publication" id="publication"
          enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label col-sm-3">Dénomination <span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
          <input [(ngModel)]="article.denomination" type="text" class="form-control" name="denomination"
                 placeholder="Taper le nom d'article" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3">Prix <span class="text-danger">*</span></label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.prix" type="number" class="form-control" name="prix"
                 placeholder="Le prix en centième" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Poids <span class="text-danger">*</span></label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.poids" type="number" class="form-control" name="poids"
                 placeholder="Le prix en gramme" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Image <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
            <input [(ngModel)]="article.img" type="text" class="form-control" name="img"
                   placeholder="Le url d'un img" value="">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Volume <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.volume" type="number" class="form-control" name="volume">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Longeur <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.longeur" type="number" class="form-control" name="longeur">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Largeur <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.largeur" type="number" class="form-control" name="largeur">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Hauteur <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <input [(ngModel)]="article.hauteur" type="number" class="form-control" name="hauteur">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Description <br>
          <small>(optional)</small>
        </label>
        <div class="col-md-5 col-sm-8">
          <textarea [(ngModel)]="article.description" cols="50" rows="10" name="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
          <input name="Submit" type="submit" value="Save" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>

<!--</section>-->
